<li  class="post" id="post-<%= post._id %>">

  <% if(locals.user && locals.user.id == post.user.id) { %>
  <a href="/posts/delete/<%= post._id %>" class="delete-post-button"><i class="fa fa-close"></i></a>
  <% } %>


  <div class="post-content">
    <%  if(post.user.avatar){ %>
      <img class="profile-pic" src="<%= post.user.avatar %>"/>
    <%}else{%>
      <img class="profile-pic" src="/images/user.png"/>
    <%}%> 
    <div>
      <p><%= post.content %></p>
      <small><%= post.user.name %></small>
    </div>
    

  </div>
  <% if(locals.user) { %>
  <div class="post-comment">
    <h3>Comment</h3>
    <form action="/comments/create" id="post-<%= post._id %>-comments-form"  method="POST">
      <input type="text" class="write-comment" name="content" placeholder="Write a comment..." required/>
      <input name="post" value="<%= post._id %>" type="hidden"/>
      <input type="submit" value="Comment" class="submit-comment"/>
    </form>
  </div>
  <% } %>
  <div class="comments-list">
    <ul id="post-comments-<%= post._id %>">
      <% for(comment of post.comments){ %>
       <%- include('_comment')%>
      <% } %>
    </ul>
  </div>
</li>