<div id="home">
  <section id="feed-posts">
    <h1>
      Social | <%= title %>
    </h1>

    <% if(locals.user) { %>
    <div class="create-post">
      <h4>What's on your mind?</h4>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post" />
      </form>
    </div>
    <% } %>

    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %> <%- include('_post') %> <% } %>
      </ul>
    </div>
  </section>

  <%if(locals.user){%>

  <button class="toggle-friends d-none">Friends</button>
  <%}%>

  <section class="user-friends d-none" style="width: 25%;">

    <div class="friends-list">
      <% if(locals.user) { %>
        <h4>Friends</h4>
        <%for(friendship of locals.user.friendships){%>
        <ul>
          <li class="d-flex align-items-center">
            <% if(locals.user.id == friendship.from_user.id) { %>
              <% if(friendship.to_user.avatar){ %>
                <img class="profile-pic" src="<%= friendship.to_user.avatar %>" />
              <%}else{%>
                <img class="profile-pic" src="/uploads/images/user.png" />
              <%}%>
              <div class="d-flex flex-column">
                <a href="/users/profile/<%= friendship.to_user.id %>" class="fs-20"><%= friendship.to_user.name %> </a>
                <a href="#" class="chat-with" id="<%= friendship.to_user.id %>">Chat</a>
              </div>
            <%}else{%>
              <% if(friendship.from_user.avatar){ %>
                <img class="profile-pic" src="<%= friendship.from_user.avatar %>" />
              <%}else{%>
                <img class="profile-pic" src="/uploads/images/user.png" />
              <%}%>
              <div class="d-flex flex-column">
                <a href="/users/profile/<%= friendship.from_user.id %>" class="fs-20"><%= friendship.from_user.name %></a>
                <a href="#" class="chat-with" id="<%= friendship.from_user.id %>">Chat</a>
              </div>
            <%}%>
        </li>
    
      </ul>
    
    
        <%}%>
    
    <% } %>
    
    <div>
      <h4>All Users</h4>

      <% for(let user of all_users){ %>
      <ul>
        <li>
          <% if(user.avatar){ %>
          <img class="profile-pic" src="<%= user.avatar %>" />
          <%}else{%>
          <img class="profile-pic" src="/uploads/images/user.png" />
          <%}%>
                  <a href="/users/profile/<%= user.id %>">
          <%= user.name %>
          </a>
        </li>
      </ul>
      <%}%>
        </div>

    </div>
   

  </section>
  <section>
    <%- include('_chatbox') %>
  </section>

</div>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<%if(locals.user){%>
<script>
  let user = <%-JSON.stringify(locals.user)%>
  // var user = {
  //   name:'<%=locals.user.name%>',
  //   id:'<%=locals.user._id%>'
  // }
  // console.log(user)
  $('.chat-with').click( async function(e){
    e.preventDefault()
    let friendId = $(this).attr('id')
    let res = await fetch(`/users/friend/?id=${friendId}`)
    let data = await res.json()
    let friend = data.friend

    $('#chat-box').removeClass('d-none');
    if (!$('#chat-box').hasClass('d-none')) {
      $('#toggle-chat').html('Close Chat')
    } else {
      $('#toggle-chat').html('Open Chat')
    }
    // new ChatEngine('user-chat-box', user , friend)

  })
  new ChatEngine('user-chat-box', user.email, user.name)

  $('.toggle-friends').click(function(){
    $('.user-friends').toggleClass('d-none')
    if(!$('.user-friends').hasClass('d-none')){
      $(this).text('X')
      $(this).addClass('opened')
    }else{
      $(this).text('Friends')
      $(this).removeClass('opened')
    }
  })

</script>
<%}%>