<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <%- style %>

  </head>
  <script>
   
  </script>
  <body>
    <%- include('_header') %>
   
    <%- body %>

   <%- include('_footer') %>
   <%- script %>

  </body>
</html>