<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    <%- style %>

  </head>
  <script>
   
  </script>
  <body>
    <%- include('_header') %>
    <main id="layout-main">
      <%- body %>
    </main>
   
   <%- include('_footer') %>
   <%- script %>

  </body>
</html>