<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <script src="/js/home.js" type="text/javascript"></script>

    <%- style %>

  </head>
  <script>
   
  </script>
  <body>
    <%- include('_header') %>
    <main id="layout-main">
      <%- body %>
    </main>
   
   <%- include('_footer') %>
   <%- script %>

  </body>
</html>